<div class="row" id="stories">
	<h2>Stories</h2>
	{{#each data}}
	<div class="col s12 m4" id="text-card">
		<div class="card hoverable">
			<div class="card-image">
				<a href="/stories/edit/{{story.id}}" class="btn-floating halfway-fab red">
					<i class="fas fa-pencil-alt"></i>
				</a>
			</div>
			<div class="card-content center">
				<span class="card-title">{{story.title}}</span>
				<p class="story-text">{{ stripTags (truncate story.body 150) }}</p>
					<br>
				  <div class="chip">
				    <img src={{ story.picture }} alt="{{story.first_name}}">
				    {{story.first_name}} {{story.last_name}}
				  </div>
			</div>
			<div class="card-action center">
				<a class="btn grey darken-2 " href="/stories/show/{{story.id}}">
					Read more 
				</a>
			</div>
		</div>
	</div>
	{{else}}
	<p>Currently no public posts!!</p>
	{{/each}}
</div>